@import './variable.scss';
@mixin content-flex($dir: flex-start, $center: center) {
    display: flex;
    justify-content: $dir;
    align-items: $center;
}
@mixin header-layout {
    padding: 0 10px;
    line-height: $headerBarHeight;
    font-size: $headerFontSize;
}
@mixin body-center($width: $contentWidth) {
    width: $width;
    margin: 0 auto;
}
%text-abstract {
    color: $crowdsaleAbstractColor;
    font-size: $crowdsaleAdFontSize;
    line-height: 20px;
}
%platform-title {
    font-size: $crowdsaleFontSize;
    color: $crowdsaleFontColor;
    font-weight: bold;
    font-family: semibold;
    line-height: 28px;
}
@mixin item-title($flag: true) {
    @if $flag {font-weight: bold;}
    font-size: $headerFontSize;
    color: $crowdsaleTitleColor;
}

// modify crowdsale-detail select style
.crowdsale-detail-head-right-select input.el-input__inner {
    padding: 0 30px 0 10px;
}
.register-verify input.el-input__inner {
    padding-right: 95px;
}
.crowdsale-footer-btn.go-to-buy>span {
    width: 100%;
    @include content-flex(space-between);
}