@import './variable.scss';
@mixin content-flex($dir: flex-start, $center: center) {
    display: flex;
    justify-content: $dir;
    align-items: $center;
}
@mixin header-layout {
    padding: 0 10px;
    line-height: $headerBarHeight;
    font-size: $headerFontSize;
}
@mixin body-center($width: $contentWidth) {
    width: $width;
    margin: 0 auto;
}