$contentWidth: 1200px;
$headerBarHeight: 64px;
$carouselHeight: 354px;
$thumbsWidth: 208px;
$thumbsHeight: 71px;
$bullHeight: 42px;
$bullBlockWidth: 128px;
$bullBlockColor: #666;

// crowdsale-item
$crowdsaleWidth: 405px;
$crowdsaleFontSize: 20px;
$crowdsaleFontColor: #009ec2;
$crowdsaleBackGround: #F5F5F5;
$crowdsaleTitleColor: #333; 
$crowdsaleAdFontSize: 12px; 
$crowdsaleSNColor: #999;
$crowdsaleAbstractColor: #666;

$headerFontSize: 18px;
